.formdiv {
  border: 2px solid rgb(181, 177, 177);
  width: 60vw;
  margin: 50px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.formdiv > button {
  width: 50%;
  height: 50px;
  color: white;
  font-size: x-large;
  border: none;
  background: linear-gradient(90deg, rgb(250, 250, 64), rgba(106, 106, 253, 0.698));
}
